@import "../../../styles/styles.scss";

.slide-submit {
  background: $color-gold-1;
  @include flex-center-center-column();
  font-size: 8em;
  @media (max-width: 800px) {
    font-size: 18vw;
  }
  font-weight: 800;
  cursor: pointer;
}
